@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//👇 Header 🚩

.header {
  @apply bg-white;

  &__sect1 {
    @apply flex justify-between items-center align-middle py-5 px-48
    sm:px-10
    md:px-10
    lg:px-5
   ;
  }
}

//👇 Logo 🚩

.logo {
  @apply h-10 items-center;

  &__h1 {
    @apply text-[35px] italic font-bold
    sm:text-2xl 
    sm:leading-3;
    line-height: 30px;
  } //☝ "Osora" text

  &__p {
    @apply text-xs ml-3
    sm:ml-4;
  }//☝ "powerd by..."

  // .logo__image {
  //     height: 100%;
  //     background-color: rgb(249, 250, 251);
  //     // using rgb value to set bg with tailwind didnt work
  // }
}// ☝ Logo


//👇 Search 🚩

.search {
  @apply 
  flex
  sm:hidden
  min-max:hidden
  ;

  //👇 Input 🚩

  input {
    @apply h-10 w-52 
        px-2
        border-accentColor border-solid 
        border-[0.5px];
    outline: none;
    border-radius: 2px;
  } //☝ search-bar/input 

  &__logo {
    @apply bg-accentColor 
        border-[1px] border-solid border-accentColor
        p-[7px];
  } //☝ search-bar logo(magnifying-glass)
} //☝ search-bar


//👇 Cart/ User / Sign-in 🚩

.cartusersign {
  @apply flex gap-5 h-12 items-center
  sm:hidden
  min-max:hidden
  ;

  &__sect1 {
    @apply flex gap-2;
  }

  .sign {
    @apply flex justify-evenly gap-1;
  }

  .cartusersign__sect1 {
    @apply flex;

  }

  .cartusersign__sect2 {
    @apply text-smallText;
    // font-size: $main-text-size;
  }
}

//👇 Cart/ User / Sign-in 🚩

.cart-btn {
  @apply h-10 w-10
    border-[1px] border-solid border-black;
  border-radius: 100%;
}
.user-btn {
  @apply h-10 w-10
    border-[1px] border-solid border-black;
  border-radius: 100%;
}

.mainNav {
  @apply flex gap-5 py-5 px-48 text-smallText
  sm:hidden
  md:px-10
  min-max:hidden
  lg:px-5;

  // font-size: $main-text-size;
}

//👇 Hambourger 🚩

.hambourger {
  @apply mr-16;
  &__btns {
    @apply hidden
    cursor-pointer 
    sm:block
    min-max:block
    ;
  }//☝ hambourger icons/btns

  &__nav {
    @apply absolute  
    text-mainTextColor text-[18px] mr-9
    min-max:block
    z-10;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 100;
    border-radius: 3px;
  } //☝ hambourger nav

  &__li {
    @apply bg-secondaryColor
    py-1 pl-1;
    letter-spacing: 1px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    // border-bottom: 1px solid rgb(226, 223, 223);
  } //☝ hambourger list-items
} //☝ Hambourger-Menu

//👇 Hero 🚩

.hero {
  @apply bg-secondaryColor 
    py-20 px-48
    flex gap-10
    sm:px-10
    sm:flex-col
    min-max:flex-col
    min-max:w-full
    min-max:px-20
    min-max:bg-orange-500;
  //  bg-purple-700

  div {
    // width: 1000px;
    img {
        @apply w-full 
        sm:w-full 
        sm:h-52
        ;
    //   width: 100%;
    }//☝ gif image   
        
        
  }
}

.navProduct {
  @apply w-96 bg-primarayColor
    border-[1px] border-solid border-mainTextColor
    text-mainTextColor text-smallText flex flex-col
    sm:w-full
    min-max:w-full
    ;
    border-radius: 5px;
  
  &__items {
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 11px;
  }

  &__items:nth-child(4) {
    border-bottom: none;
  }
}

.popular-product {
    @apply px-48
    sm:px-10
    md:px-10
    lg:px-20;
    //☝popular-product-text

    &__sect1 {
        @apply text-mediumText flex justify-between pt-16;

        p {
          @apply sm:text-[15px];
          font-style: 15px;
          margin-right: 5px;
          letter-spacing: 0px;
        }
    }

    .see-all {
         @apply border-[1.5px] border-solid border-accentColor rounded-[3px]
         text-accentColor
          py-[4px] px-[10px]
          sm:text-[15px]
          ;
      }

    .popular {
        @apply grid grid-cols-4 gap-5
        sm:grid-cols-1
        min-max:grid-cols-3
      ;

      //   @apply py-5 gap-5;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //This code ☝ gets me a fully responsive grid
        
      }

}


.productItem {
  @apply h-[350px] w-full 
    px-9 pt-5 rounded-[5px]
    min-max:px-1;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  &__img {
    @apply px-3
    min-max:px-1
    min-max:py-5;
    width: 100%;
    height: 60%;
  }
}

.footer {
  @apply bg-secondaryColor pb-20;

  &__sect1 {
    @apply flex justify-between px-48
    sm:px-10
    sm:flex-col
    md:px-10;
    padding-top: 90px;
    padding-bottom: 40px;

    div {
        @apply sm:mb-5 
        sm:flex
        sm:flex;

      h1 {
        @apply text-mediumText font-[600];
      }
      p {
        @apply sm:pr-12
        sm:hidden
        xsm:hidden
        xsm:align-middle;
      }
    }
  } //☝ Get it on App Stores

  &__sect1--btns {
    @apply h-12 flex gap-5
    sm:w-full
    sm:flex
    sm:justify-center;
  } //☝ google & apple store btn container

  .footer__sect1--btn1 {
    @apply w-32;
  } //☝ google-store btn

  .footer__sect1--btn2 {
    @apply w-32;
  } //☝ apple-store btn


  div {

    h2 {
      @apply text-smallText
      sm:text-[15px]
      ;

        span {
            @apply text-accentColor;
        }
    }
  }
  // ☝ copy-right
}

.nav-footer {
  @apply py-10 px-48
  grid grid-cols-4 justify-between
  sm:px-10
  sm:grid-cols-2
  md:px-10;

  div {
    h4 {
      @apply text-smallText;
    } //☝ Brands Company Help Contact
    
    li {
      @apply my-[10px] mx-0 text-mainTextColor;
    } //☝ footer links
  }

}
